<h1>Welcome <%= current_user.first_name %> </h1>
<%= link_to "Add a favorite sport to your list", new_sport_path %>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<ul>
    <% @sports.each do |sport| %>
        <li>
            <%= sport.name %> - <%= sport.favorite_team %>
        </li>
        <%= link_to "More Info", sport_path(sport)%>
        <%= link_to "Edit Sport Info", edit_sport_path(sport)%>
        <%= link_to "Delete Sport from list", sport_path(sport), method: :delete %>
        
    <%end%>
</ul>
<%= link_to "Back to Foods Page", root_path %>
